@charset "utf-8";

/* @font-face {
    font-family: "nanummyeongjo";
    scr : url('./NanumMyeongjo-Regular.ttf');
} */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.title {
    /* font-family: "NanumMyeongjo" */
    /* Font style: ExtraBold
    Font size: 24px
    Line height: 30px
    Line height: 100%
    Align: Left
    Vertical align: Top */

    font-family: "nanummyeongjo";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;

    text-align:center;
    margin:30px 0;
    /* font-size:30px; */
    margin-bottom: 50px;
    color: black 
}

.swal2-popup {
    font-family: "nanummyeongjo";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    width: 600px;
    text-align:center;
    margin:30px 0;
    /* font-size:30px; */
    margin-bottom: 50px;
    color: black 
  }