@font-face {
	font-family: 'NanumMyeongjo';
	src: url("./shared/fonts/nanum-myeongjo/NanumMyeongjo.ttf");
}

.index div {
	font-family: 'NanumMyeongjo';
}

.index input {
	font-family: 'NanumMyeongjo';
}

.index button {
	font-family: 'NanumMyeongjo';
}